StudentSoapClient/xml-resources/web-service-references/studentWebService/wsdl/localhost_8080/StudentSoap/studentWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="studentWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/StudentSoap/studentWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="findStudentById">
<part name="parameters" element="tns:findStudentById"/>
</message>
<message name="findStudentByIdResponse">
<part name="parameters" element="tns:findStudentByIdResponse"/>
</message>
<message name="createStudent">
<part name="parameters" element="tns:createStudent"/>
</message>
<message name="createStudentResponse">
<part name="parameters" element="tns:createStudentResponse"/>
</message>
<message name="updateStudent">
<part name="parameters" element="tns:updateStudent"/>
</message>
<message name="updateStudentResponse">
<part name="parameters" element="tns:updateStudentResponse"/>
</message>
<message name="deleteStudent">
<part name="parameters" element="tns:deleteStudent"/>
</message>
<message name="deleteStudentResponse">
<part name="parameters" element="tns:deleteStudentResponse"/>
</message>
<message name="findAllStudent">
<part name="parameters" element="tns:findAllStudent"/>
</message>
<message name="findAllStudentResponse">
<part name="parameters" element="tns:findAllStudentResponse"/>
</message>
<portType name="studentWebService">
<operation name="findStudentById">
<input wsam:Action="http://services/studentWebService/findStudentByIdRequest" message="tns:findStudentById"/>
<output wsam:Action="http://services/studentWebService/findStudentByIdResponse" message="tns:findStudentByIdResponse"/>
</operation>
<operation name="createStudent">
<input wsam:Action="http://services/studentWebService/createStudentRequest" message="tns:createStudent"/>
<output wsam:Action="http://services/studentWebService/createStudentResponse" message="tns:createStudentResponse"/>
</operation>
<operation name="updateStudent">
<input wsam:Action="http://services/studentWebService/updateStudentRequest" message="tns:updateStudent"/>
<output wsam:Action="http://services/studentWebService/updateStudentResponse" message="tns:updateStudentResponse"/>
</operation>
<operation name="deleteStudent">
<input wsam:Action="http://services/studentWebService/deleteStudentRequest" message="tns:deleteStudent"/>
<output wsam:Action="http://services/studentWebService/deleteStudentResponse" message="tns:deleteStudentResponse"/>
</operation>
<operation name="findAllStudent">
<input wsam:Action="http://services/studentWebService/findAllStudentRequest" message="tns:findAllStudent"/>
<output wsam:Action="http://services/studentWebService/findAllStudentResponse" message="tns:findAllStudentResponse"/>
</operation>
</portType>
<binding name="studentWebServicePortBinding" type="tns:studentWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findStudentById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="studentWebService">
<port name="studentWebServicePort" binding="tns:studentWebServicePortBinding">
<soap:address location="http://localhost:8080/StudentSoap/studentWebService"/>
</port>
</service>
</definitions>